/* ContactPage.css */
.Contact {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Contact h2 {
  font-size: 2rem;
  color: #333;
}

.Contact p {
  font-size: 1.1rem;
  color: #000000;
  margin-bottom: 20px;
}

/* Styles for the cards */
.Card {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 57px;
  display: flex;
  align-items: center;
}

.Card .icon {
  font-size: 24px;
  margin-right: 10px;
}

.Card .content {
  font-size: 1rem;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .Contact {
    padding: 10px; /* Decrease padding for smaller screens */
  }

  .Contact h2 {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }

  .Contact p {
    font-size: 1rem; /* Decrease font size for smaller screens */
  }

  .Card {
    padding: 15px; /* Decrease padding for smaller screens */
  }

  .Card .icon {
    font-size: 20px; /* Decrease icon size for smaller screens */
  }

  .Card .content {
    font-size: 0.9rem; /* Decrease font size for smaller screens */
  }
}
