.mnnavbar {
  background-color: #333;
  overflow: hidden;
}

.menu-btn {
  display: none; /* Hide menu button by default for larger screens */
}

.mnnav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mnnav-links li {
  display: inline-block;
}

.mnnav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mnnav-links li a:hover {
  background-color: #696969;
}
/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .menu-btn {
    display: block; /* Display menu button for smaller screens */
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
  }

  /* Styling for hamburger icon */
  .menu-btn::before,
  .menu-btn::after,
  .menu-btn span {
    content: '';
    display: block;
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 5px 0;
  }

  /* Adjustments for middle line */
  .menu-btn span {
    width: 20px;
    margin-left: 5px;
  }

  .mnnav-links {
    display: none; /* Hide navigation links by default for smaller screens */
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .mnnav-links.active {
    display: block; /* Display navigation links when active */
  }

  .mnnav-links li {
    display: block;
  }
}
