.registration-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 20px;

}

.registration-container h2 {
  text-align: center;
}

.registration-container form {
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

.registration-container label {
  margin-top: -10px;
  font-weight: 500;
}

.registration-container input,
.registration-container select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.registration-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.registration-container button:hover {
  background-color: #0056b3;
}
