/* Userrgister.css */
.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 100px;
  margin-bottom: 230px;
}

.login h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login label {
  display: block;
  margin-bottom: 5px;
}

.login input[type="email"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login button:hover {
  background-color: #0056b3;
}

.register-link {
  color: #007bff;
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .login {
    max-width: 90%; /* Adjust max-width for smaller screens */
  }

  .login h2 {
    font-size: 1.5rem; /* Decrease font size for smaller screens */
  }

  .login input[type="email"],
  .login input[type="password"] {
    font-size: 14px; /* Decrease font size for input fields on smaller screens */
  }

  .login button {
    font-size: 16px; /* Increase font size for button on smaller screens */
  }
}
